@font-face {
  font-family: 'YGORegular';
  src: url('https://cdn.jsdelivr.net/gh/KaibaCorp/Yu-Gi-Oh!-Card-Generator@master/fonts/ygo/Yu-Gi-Oh!%20Matrix%20Regular%20Small%20Caps.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
